#one {
  font-size: 1.1rem;
  font-weight: 600;
}
#two {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: justify;
  padding: 1rem;
}
#three {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#four {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
}
#five {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#six {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#seven {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#eight {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#nine {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
}
#ten {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#item1 {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#item2 {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#item3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
}
#item4 {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#item5 {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#item6 {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
