#t1 {
  font-size: 1.2rem;
  font-weight: 600;
}
#t3 {
  margin-top: 2rem;
}
#t5 {
  width: 100%;
}
#t6 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
#t7{
  margin-left: 1rem;
}

