#uploadImagesLabel {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 0.5rem;
  color: #00140e;
  margin-bottom: 1rem;
}
#advertisement1{
  margin-left: 1rem;
}
