#privacyone {
  font-size: 1.1rem;
  font-weight: 600;
}
#privacytwo {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: justify;
  padding: 1rem;
}
#privacythree {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#privacyfour {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
}
#privacyfive {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#privacysix {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#privacyseven {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#privacyeight {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#privacynine {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
}
#privacyten {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#privacyitem1 {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#privacyitem2 {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#privacyitem3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
}
#privacyitem4 {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#privacyitem5 {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
#privacyitem6 {
  font-size: 0.9rem;
  font-weight: 400;
  text-align: justify;
  margin-top: 1rem;
}
